@charset "utf-8";

/*===================================
 * css file for "moonyworks.com"
 * file name : reset.css
===================================== */

body{font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳＰゴシック",sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}  
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}    
ol,ul {list-style:none;}
table{border-collapse:collapse;border-spacing:0;}  
caption,th {text-align:left;}   

/*
hr {display:none;} 
*/

/* ===================
new clearfix 
===================*/  
.clearfix:after {  
visibility:hidden;/*見えなくする*/ 
height:0;/*見えなくする*/
display: block;/*block要素にする*/
font-size: 0;  
content: " ";  
clear: both;  

}  
* html .clearfix             { zoom: 1; } /* IE6 */  
*:first-child+html .clearfix { zoom: 1; } /* IE7 */  

/* ===================
リストタグ内の画像の余白をクリア
===================*/s
li img{
	font-size:0;
	line-height:0;
	vertical-align:top;
}

/* ===================
スクロールバーの有・無によるページのズレを防ぐ
===================*/
*html body {
     overflow-y: auto;
}

*+html body {
     overflow-y: auto;
}

body {
     overflow-y: scroll;
}

